* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
}

.video-background {
    position:relative;
    margin-top: -85px;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1; 
}

