header {
    top: 0px;
    display: flex;
    overflow: hidden;
    position:relative;
    padding:10px;
    align-items: center;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.7);
}
  
header a {
    float: left;
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.5s;

}
  
header a:hover {
    color: #0065B1;
}
  
header a.active {
    color: white;
    text-decoration:double;
}
header img{
    vertical-align: middle;
    margin-right: 16px;
}