.find{
    text-align: center;
    font-size: 60px;
    font-family:copperplate;   
    padding:1rem;
}


.Cars{
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
   
}

.CarsNew{
    margin-left: -75px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 50px 200px;
    background: white;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 125px;
}

.CarsUsed{
    margin-right: -50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding: 50px 200px;
    background: white;
    width: 200px;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 125px;
}

.Pic1{
    margin-left: 4px;
    margin-top: 20px;

}

.Pic2{
    margin-top: -2px;
    margin-left: -2px;
}


nav{
    margin-left: -75px;
    color:black;
    border-radius: 4px;
    text-align: center;
    width: 10em;
    font-size: larger;
    background-color: white;
}

nav ul{
    display:none;
    position: absolute;
    border-radius: 4px;
    list-style:none;
    margin: 0;
    padding: 0;
}

nav:hover ul{
    display: block;
    z-index: 15;
}

nav ul li{
    border-top: 0px solid black;
    background-color: white;
    height: 130px;
    width: 9.75em;
    color: black;
    

}

nav ul li:hover{
    background-color: #0065B1;
    text-decoration: none;
    transition: 0.6s;
}
